.circleindicator-container  {	
	circleindicator-color:  #A3CD32;
	-fx-padding: 5.0;
	-fx-background-color: transparent;
}
.circleindicator-container > .circleindicator-label {
	-fx-font-weight: bold; 
 	-fx-font-size: 2em;
	-fx-text-fill: #DBF227;
	-fx-padding: 5.0;
}
